.dc{
    float:right;
}

.home{
    float:left;
}

#title{
    text-align: center;
}

#title1{
    font-family: Georgia, serif;
    font-size: 80px;
    color: #03af87;
    font-style: italic;
    font-variant: small-caps;
}