header{
    border: 2px solid black;
    
    margin: auto;    
    padding: 3px;
    text-align: right;

}


h1 {
    background-color: WhiteSmoke;
    font-family: Courier New,"Times New Roman", Times, serif;
    text-align : center ;
    color: black;
    font-weight:normal;
    font-size:40px;
}
h2 {
    font-family: Courier New,"Times New Roman", Times, serif;
    text-align : center ;
    color: black;
    font-weight:normal;
}

* {
    box-sizing: border-box;
}
body {
    background-color:  WhiteSmoke;
    font-family: Courier New,"Times New Roman", Times, serif;
    text-align : center ;
}
table{
    text-align : center;
}


.img {
    float: left;
    width: 33.33%;
    padding: 0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

a:hover{
    color: grey;
    text-decoration: none;
}

a:link{
    color: black;
    text-decoration: none;
}

ul#menu li {
display:inline;
padding: 0 2em;
}

ul#menu {
list-style-type : none;
}


fieldset {
	width : 50%;
 padding:0 20px 20px 20px;
 margin : auto;
 border:1px solid black;
 }

 legend {
 	text-align : center;
 }