h1{
   /* text-align: center;*/
    color: blue;
}

p.erreur{
    color: red;
}

textarea {
    resize: none;
}

.chatbox{
	width: 372px;
	height: 300px;
	border: 1px solid black;
}

.historiquechat{
	list-style:none;
	margin: 10px;
	padding-left:0px
}


.historique{
	text-align: left;
	padding-left:0px
}