div.annonce {
    text-align:center;
    padding: 10px;
    border: 3px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
}

div.title {
    text-align: left;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: 28px;
    padding: 5px;
    height:40px;
    background-color:#5FE6BD;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

div.errorimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
div.title a {
    float: right;
    margin-right: 5px;
    color: white;
}

div.title a:hover {
    color: #179b77;
}

div.info {
    padding-top: 20px;
    float:left;
    font-family: 'IBM Plex Mono';
    font-weight: 900;
    font-size: 18px;
    width: 30%;
    height: 150px;
    background-color: #FFF;
}
div.tags {
    padding-top: 20px;
    float:left;
    font-family: 'IBM Plex Mono';
    font-weight: 900;
    font-size: 18px;
    width: 30%;
    height: 150px;
    background-color: #FFF;
}
div.tag {
    padding-top: 1px;
    float:left;
    font-family: 'IBM Plex Mono';
    font-weight: 400;
    font-size: 14px;
    width: 70%;
    height: 20px;
    background-color: #FFF;
}
div.desc {
    padding-top: 20px;
    font-weight: 400;
    font-size: 15px;
    float:right;
    min-width: 400px;
    max-width: 600px;
    width: 70%;
    height: 150px;
    background-color:#EEEEEE;
    word-wrap: break-word;
}
div.logi {
    padding-top: 5px;
    font-family:'IBM Plex Mono';
    font-size: 17px;
    clear:both;
    height:30px;
    background-color:#FF5722;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
