.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
	  height: 150px;
}

html, body {
    background-color: #c1bdba;
	  color: white;
    font-weight: bold;
	  font-family:'Titillium Web', sans-serif;
}


h1{
  background-color: #5FE6BD;
	color: white;
	font-family:'Titillium Web', sans-serif;
	text-align: center;
  margin: 0 auto;
  height: 50px;
}

form{
	text-align: center;
}


input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
  margin: 0 auto;
  background-color: DimGrey;
}

label {
  color: lighten(DimGrey,40%);
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

input[type=radio]:checked + label{
  color: lighten(#5FE6BD,60%);
  background: #5FE6BD;
}
input[type=radio]:not(:checked)+ label{
  color: lighten(#5FE6BD,60%);
  background: DimGrey;
}

label + input[type=radio] + label {
  border-left: solid 3px #332f35;
}
.radio-group {
  border: solid 3px #332f35;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

input[type=submit], input[type=reset]{
  margin-left: auto;
  margin-right: auto;
  background-color: DimGrey;
  border: 3px solid #332f35;
  color: white;
  padding: 10px 15px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  font-weight: bold;
}

input[type=submit]:hover, input[type=reset]:hover{
  background-color: #5FE6BD;
}


/*---POUR SELECT----*/

