body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Montserrat;
  color: rgb(255, 255, 255);
}

.hasard-1 p,
footer p {
  margin-bottom: 1em;
}

.accueil .accueil {
  width: 40.5%;
  min-height: 31px;
  margin: 11px auto 0;
  font-size: 1.25em;
  color: rgb(255, 255, 255);
}

.adresse {
  width: 15.1666666666%;
  min-height: 45px;
  margin: 88px auto 0;
  font-family: Helvetica;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.caddie {
  position: relative;
  float: left;
  z-index: 10;
  width: 8.4993489583%;
  height: 73px;
  margin: 47px 0 0 33.9974%;
  background: url('../images/caddie_transparent.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.catalogue .catalogue {
  width: 58.3844750373%;
  min-height: 31px;
  margin: 11px auto 0;
  font-size: 1.25em;
  color: rgb(255, 255, 255);
}

.connexion {
  float: left;
}

.connexion .connexion {
  width: 78.6017949929%;
  min-height: 16px;
  margin: 7px 0 0 8.10288%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.contact {
  float: left;
  clear: both;
  width: 100%;
  height: 154px;
  background-color: rgb(66, 204, 71);
}

.container {
  float: left;
  width: 100%;
  height: 309px;
  background-image: url('../images/image_accroche.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.discord {
  float: right;
  clear: both;
  width: 8.8328075709%;
  height: 28px;
  margin-top: -28px;
  background: url('../images/discord.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.element {
  position: relative;
  float: left;
  clear: both;
  z-index: 16;
  width: 52.2776246554%;
  height: 159px;
  margin: 45px 0 0 9.20321%;
  background: url('../images/alimentation-saine.jpg'), url('../images/alimentation-saine.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, contain;
  background-position: left top, left top;
  background-attachment: scroll, scroll;
}

.facebook {
  float: left;
  width: 8.8328075709%;
  height: 28px;
  margin: 11px 0 0 0.15773%;
  background: url('../images/facebook.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.hasard .hasard {
  width: 61.0383148117%;
  margin: 11px auto 0;
  font-size: 1.25em;
  line-height: 0.2;
  color: rgb(255, 255, 255);
}

.inscription {
  float: left;
}

.inscription .inscription {
  width: 55.021256495%;
  min-height: 15px;
  margin: 7px 0 0 8.10547%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.log {
  float: left;
  width: 52.7994791666%;
  height: 545px;
  margin: 96px 0 0 23.59896%;
  border: 5px solid rgb(56, 183, 55);
  border-radius: 100px;
  background-color: rgb(255, 255, 255);
}

.mdp {
  position: relative;
  float: left;
  clear: both;
  z-index: 20;
  width: 23.091956903%;
  min-height: 32px;
  margin: 62px 0 0 12.28264%;
  font-family: Ubuntu;
  font-size: 1em;
  color: rgb(128, 128, 128);
}

.menu {
  float: left;
  width: 66.0416666666%;
  height: 56px;
  margin: 10px 0 0 16.97526%;
  border-radius: 34px;
  background-color: rgba(52, 203, 58, 0.9);
}

.profil .profil {
  width: 63.6363636363%;
  min-height: 26px;
  margin: 11px auto 0;
  font-size: 1.25em;
  color: rgb(255, 255, 255);
}

.accueil .accueil:hover,
.catalogue .catalogue:hover,
.connexion .connexion:hover,
.hasard .hasard:hover,
.inscription .inscription:hover,
.profil .profil:hover {
  color: rgb(128, 128, 128);
}

.pseudo {
  position: relative;
  float: left;
  z-index: 21;
  width: 23.091956903%;
  min-height: 32px;
  margin: 101px 0 0 12.28264%;
  font-family: Ubuntu;
  font-size: 1em;
  color: rgb(128, 128, 128);
}

.reseau {
  float: left;
  width: 26.4166666666%;
  height: 39px;
  margin: 25px 0 0 36.79167%;
}

.titre {
  position: relative;
  float: left;
  z-index: 9;
  width: 23.2291666666%;
  min-height: 38px;
  margin: 26px 0 0 2.29297%;
  font-size: 2.5em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.twitter {
  float: right;
  width: 8.8328075709%;
  height: 28px;
  margin: 12px 44.19361% 0 0;
  background: url('../images/twitter.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

._button {
  display: block;
  position: relative;
  float: left;
  z-index: 19;
  width: 13.0844399899%;
  height: 29px;
  margin: 198px 0 0 13.14959%;
  border: 2px solid rgb(56, 183, 55);
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-family: Ubuntu;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  color: rgb(128, 128, 128);
}

._input {
  display: block;
  position: relative;
  float: left;
  width: 49.2307692307%;
  height: 32px;
  margin-left: 3.07943%;
  padding: 0 10px;
  border: 1px solid rgb(151, 151, 151);
  background-color: rgb(242, 242, 242);
  font-family: Helvetica;
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.accueil-1 {
  float: left;
  width: 22.2082018927%;
  height: 54px;
  margin: 1px 0 0 2.81349%;
  background-color: rgba(60, 187, 59, 0);
}

.catalogue-1 {
  float: left;
  width: 23.7736593059%;
  height: 54px;
  margin: 1px 0 0 1.21254%;
  background-color: rgba(60, 187, 59, 0);
}

.connexion-1 {
  position: relative;
  clear: both;
  z-index: 14;
  width: 9.4166666666%;
  height: 32px;
  margin: -66px 0 0 84.83203%;
  border-radius: 21px;
  background-color: rgb(67, 188, 67);
}

.connexion-3 {
  clear: both;
  width: 100%;
  height: 941px;
  background-color: rgb(245, 233, 192);
}

.hasard-1 {
  float: left;
  width: 23.7736593059%;
  height: 54px;
  margin: 1px 0 0 1.2085999999%;
  background-color: rgba(60, 187, 59, 0);
}

.inscription-1 {
  position: relative;
  z-index: 12;
  width: 9.3333333333%;
  height: 32px;
  margin: 26px 0 0 16.8125%;
  border-radius: 21px;
  background-color: rgb(57, 194, 52);
}

.profil-1 {
  float: right;
  width: 20.8201892744%;
  height: 54px;
  margin: 1px 2.61041% 0 0;
  background-color: rgba(60, 187, 59, 0);
}

.log ._input-1 {
  z-index: 18;
  margin-top: 101px;
}

.log ._input-2 {
  z-index: 17;
  margin-top: 62px;
}