.menu{
  background: #5FE6BD;
  width: 100%;
  height: 55px;
  line-height: 55px;
}
.m-left{
  float: left;
}

.logo{
  padding-left: 10px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  /*font-family: 'Segoe UI';*/
  font-weight: 900;
  font-size: 28px;
}
.m-right{
  float: right;
}

.m-link{
  /*float: right;*/
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}
.m-link:hover{
  padding-bottom: 3px;
  border-color: #fff;
}
.m-link i {
  margin-right: 5px;
}

@media only screen and (max-width: 800px) {
  .m-right{
    display: none;
  }
}

.formresearch{
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    max-height: 1000px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    opacity:0.92;

    width: 700px;
    height: 480px;

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
