@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

html, body{
  margin: 0;padding: 0;
  font-family: 'Lato';
}
.inner{
  width: 80%;
  margin: auto;
}
