/*
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
html, body{
  margin: 0;padding: 0;
  font-family: 'Lato';
}
.inner{
  width: 80%;
  margin: auto;
}
*/
/*Cette page definit les polices et apparences generales des classes et input communes sur le site WIP*/
/*
#container {
   min-height:100%;
   position:relative;
}

#body {
   padding:10px;
   padding-bottom:120 px; 
}

form{
    color: white;
    font-family: "Segoe UI";
    font-size: 20 px;
}

h1 {
    color: white;
    font-family: "Segoe UI";
    font-size: 40 px;
}

p {
    font-family: "Segoe UI";
    color: white;
}

*/

/*#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:120px;
   background-color:black;
   left: 0;
   bottom: 0;
   color: white;
   text-align: center;
   font-size: 20 px;
}*/

button {
  border-radius: 25px;
  background-color: white;
  /*font-family: "Segoe UI";*/
  height: 150 px;
  border: none
}

/*
input[type=text]{
  text-align: center;
  font-family: "Segoe UI";
  background-color: black;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  width: 15%;
}*/

/*input[type=password]{
  text-align: center;
  font-family: "Segoe UI";
  background-color: black;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  width: 15%;
}*/

input[type=reset],input[type=submit]{
  /*font-family: "Segoe UI";*/
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 25px;
}

select {
    text-align: center;
    /*font-family: "Segoe UI";*/
    background-color: black;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
}
