body {
  background-color: rgb(255, 255, 255);
  font: 400 1.625em/1.38 'Kite One';
  color: rgb(211, 101, 6);
}

.accroche {
  position: relative;
  float: left;
  z-index: 10;
  width: 34%;
  min-height: 98px;
  margin: 28px 0 0 8.37973%;
  border-radius: 20px;
  background-color: rgb(235, 113, 8);
  font-size: 1em;
  line-height: 1.7;
  text-align: center;
  color: rgb(255, 255, 255);
}

.accueil {
  float: left;
}

.accueil .accueil {
  width: 99.3997713414%;
  min-height: 66px;
  margin-left: 0.58005%;
  font-size: 1em;
  line-height: 2.5;
  text-align: center;
  color: rgb(223, 107, 7);
}

.adresse {
  float: left;
  width: 20.4171983645%;
  min-height: 44px;
  margin: 9px 0 0 69.59896%;
  font: 0.692em/2 Montserrat;
  color: rgb(211, 101, 6);
}

.bandeau {
  float: left;
  width: 100%;
  height: 91px;
}

.bandeau .connexion {
  width: 12%;
  min-height: 42px;
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
  color: rgb(223, 107, 7);
}

.code_postal {
  float: left;
  clear: both;
  width: 20.4171983645%;
  min-height: 44px;
  margin: 9px 0 0 69.59896%;
  font: 0.692em/2 Montserrat;
  color: rgb(211, 101, 6);
}

.connexion {
  float: left;
}

.cuisine {
  float: left;
  width: 100%;
}

.ingredient {
  position: relative;
  float: left;
  margin-top: 52px;
  color: rgb(0, 0, 0);
}

.id_author {
  position: relative;
  float: left;
  margin-top: 52px;
  color: rgb(0, 0, 0);
}

.id_type {
  position: relative;
  float: left;
  margin-top: 52px;
  color: rgb(0, 0, 0);
}

.titre {
  position: relative;
  float: left;
  margin-top: 52px;
  color: rgb(0, 0, 0);
}

.inscription {
  float: left;
}

.connexion .connexion,
.inscription .inscription {
  width: 100%;
  min-height: 40px;
  font-size: 0.615em;
  line-height: 2.5;
  text-align: center;
  color: rgb(235, 113, 8);
}

.connexion .connexion:hover,
.inscription .inscription:hover {
  background-color: rgb(235, 113, 8);
  color: rgb(255, 255, 255);
}

.ligne_droite {
  float: left;
  width: 34%;
  min-height: 42px;
  margin-top: 20px;
  font-size: 0.615em;
  color: rgb(211, 101, 6);
}

.ligne_gauche {
  float: left;
  width: 34%;
  min-height: 42px;
  margin: 20px 0 0 10%;
  font-size: 0.615em;
  color: rgb(211, 101, 6);
}

.logo {
  position: relative;
  float: left;
  z-index: 9;
  width: 32.4166666666%;
  height: 132px;
  margin: 58px 0 0 10%;
  background-image: url('../images/Cuisine.png'), url('../images/Cuisine.png');
  background-repeat: no-repeat, repeat;
  background-size: cover, cover;
  background-position: center center, left top;
  background-attachment: scroll, scroll;
}

.menu {
  float: left;
}

.menu .menu {
  width: 100.0095858895%;
  min-height: 66px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1em;
  line-height: 2.5;
  text-align: center;
  color: rgb(223, 107, 7);
}

.navigation {
  position: relative;
  float: left;
  z-index: 8;
  width: 54.4166666666%;
  height: 66px;
  margin: 26px 0 0 6.79622%;
}

.nouvelle_recette {
  float: left;
  clear: both;
  width: 100%;
  height: 2006px;
}

.proposition {
  float: left;
  clear: both;
  width: 66.4166666666%;
  height: 1606px;
  margin: 100px 0 0 16.75%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px;
}

.valide {
  float: left;
  clear: both;
  width: 66.4166666666%;
  height: 1606px;
  margin: 45px 0 0 16.75%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 30px;
}

.instructions {
  float: left;
  clear: both;
  color: rgb(0, 0, 0);
}

.t {
  float: left;
  clear: both;
  color: rgb(0, 0, 0);
}


label {
  font : .8em;
  float: left;
  clear: both;
  color: rgb(0, 0, 0);
}

.t-1 {
  z-index: 26;
  width: 22.8718915967%;
  min-height: 36px;
  margin-left: 12.66748%;
  font-size: 0.769em;
  line-height: 1.8;
}

label {
  float: left;
  clear: both;
  color: rgb(0, 0, 0);
  vertical-align:middle;
  z-index: 26;
  width: 22.8718915967%;
  margin-left: 27%;
  font-size: 0.769em;
  line-height: 1.8;
}

#zero {
  float: left;
  clear: both;
  color: rgb(0, 0, 0);
  vertical-align:middle;
  z-index: 26;
  width: 22.8718915967%;
  margin-left: 12.66748%;
  font-size: 0.769em;
  line-height: 1.8;
}

#un {
  float: left;
  clear: both;
  color: rgb(0, 0, 0);
  vertical-align:middle;
  z-index: 26;
  width: 22.8718915967%;
  margin-left: 12.66748%;
  font-size: 0.769em;
  line-height: 1.8;
}

#deux {
  float: left;
  clear: both;
  color: rgb(0, 0, 0);
  vertical-align:middle;
  z-index: 26;
  width: 22.8718915967%;
  margin-left: 12.66748%;
  font-size: 0.769em;
  line-height: 1.8;
}

#trois {
  float: left;
  clear: both;
  color: rgb(0, 0, 0);
  vertical-align:middle;
  z-index: 26;
  width: 22.8718915967%;
  margin-left: 12.66748%;
  font-size: 0.769em;
  line-height: 1.8;
}

#zero_pub {
  float: left;
  clear: both;
  color: rgb(0, 0, 0);
  vertical-align:middle;
  z-index: 26;
  width: 22.8718915967%;
  margin-left: 12.66748%;
  font-size: 0.769em;
  line-height: 1.8;
}

#un_pub {
  float: left;
  clear: both;
  color: rgb(0, 0, 0);
  vertical-align:middle;
  z-index: 26;
  width: 22.8718915967%;
  margin-left: 12.66748%;
  font-size: 0.769em;
  line-height: 1.8;
}

#deux_pub {
  float: left;
  clear: both;
  color: rgb(0, 0, 0);
  vertical-align:middle;
  z-index: 26;
  width: 22.8718915967%;
  margin-left: 12.66748%;
  font-size: 0.769em;
  line-height: 1.8;
}

.recettes {
  float: left;
}

.recettes .recettes {
  width: 100%;
  min-height: 66px;
  font-size: 1em;
  line-height: 2.5;
  text-align: center;
  color: rgb(223, 107, 7);
}

.recettes .recettes:hover {
  background-color: rgb(211, 101, 6);
  color: rgb(255, 255, 255);
}

.reservation {
  float: left;
}

.reservation .reservation {
  width: 100.0095858895%;
  min-height: 66px;
  font-size: 1em;
  line-height: 2.5;
  text-align: center;
  color: rgb(223, 107, 7);
}

.accueil .accueil:hover,
.menu .menu:hover,
.reservation .reservation:hover {
  background-color: rgb(223, 107, 7);
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  float: left;
  clear: both;
  width: 22.8718915967%;
  height: 30px;
  margin: 27px 0 0 67.18553%;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 0.615em;
  text-align: center;
  color: rgb(0, 0, 0);
}

.accueil-1 {
  width: 24.9617151607%;
  height: 66px;
  margin-left: -0.02172%;
}

.accueil-1:hover {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-style: none;
  background-color: rgb(255, 255, 255);
}

.accueil-1:active {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.connexion-1 {
  clear: both;
  width: 18.7994791666%;
  height: 40px;
  margin-left: 10%;
  border: 1px dashed rgb(0, 0, 0);
}

.cuisine-1 {
  height: 330px;
  border: 5px solid rgb(235, 113, 8);
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.cuisine-2 {
  clear: both;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.98);
}

.ingredient-1 {
  z-index: 26;
  width: 22.8718915967%;
  min-height: 36px;
  margin-left: 12.66748%;
  font-size: 0.769em;
  line-height: 1.8;
}

.ingredient-2 {
  display: block;
  z-index: 25;
  width: 51.8414652305%;
  height: 38px;
  margin-left: 3.01663%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.5em;
}

.id_author-1 {
  z-index: 26;
  width: 22.8718915967%;
  min-height: 36px;
  margin-left: 12.66748%;
  font-size: 0.769em;
  line-height: 1.8;
}

.id_author-2 {
  display: block;
  z-index: 25;
  width: 51.8414652305%;
  height: 38px;
  margin-left: 3.01663%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.5em;
}

.id_type-1 {
  z-index: 26;
  width: 22.8718915967%;
  min-height: 36px;
  margin-left: 12.66748%;
  font-size: 0.769em;
  line-height: 1.8;
}

.id_type-2 {
  display: block;
  z-index: 25;
  width: 51.8414652305%;
  height: 38px;
  margin-left: 3.01663%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.5em;
}

.titre-1 {
  z-index: 26;
  width: 22.8718915967%;
  min-height: 36px;
  margin-left: 12.66748%;
  font-size: 0.769em;
  line-height: 1.8;
}

.titre-2 {
  display: block;
  z-index: 25;
  width: 51.8414652305%;
  height: 38px;
  margin-left: 3.01663%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.5em;
}

.inscription-1 {
  position: relative;
  clear: both;
  z-index: 12;
  width: 18.7994791666%;
  height: 40px;
  margin-left: 10%;
  border: 1px dashed rgb(0, 0, 0);
}

.menu-1 {
  position: relative;
  z-index: 3;
  width: 25.0174939072%;
  height: 66px;
  margin-left: 1.5274%;
}

.instructions-1 {
  width: 22.8700346784%;
  min-height: 36px;
  margin: 58px 0 0 12.66748%;
  font-size: 0.769em;
  line-height: 1.8;
}

.instructions-2 {
  display: block;
  width: 79.8991172761%;
  height: 415px;
  margin: 26px 0 0 10.11192%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.5em;
  text-align: center;
}

.recettes-1 {
  width: 24.9617151607%;
  height: 66px;
  margin: -66px 0 0 75.03077%;
}

.recettes-1:hover {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border-left: 2px solid rgb(236, 113, 8);
}

.reservation-1 {
  position: relative;
  clear: both;
  z-index: 5;
  width: 24.9617151607%;
  height: 66px;
  margin: -66px 0 0 50.06636%;
}

.menu-1:hover,
.reservation-1:hover {
  padding-top: 0;
  padding-right:0;
  padding-bottom: 0;
  padding-left: 0;
  border-left: 2px solid rgb(234, 113, 8);
}
