body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Ubuntu;
  color: rgb(255, 255, 255);
}

.hasard-1 p,
.liste p,
footer p {
  margin-bottom: 1em;
}

.accueil .accueil {
  width: 40.5%;
  min-height: 31px;
  margin: 11px auto 0;
  font-family: Montserrat;
  font-size: 1.25em;
  color: rgb(255, 255, 255);
}

.adresse {
  width: 15.1666666666%;
  min-height: 45px;
  margin: 88px auto 0;
  font-family: Helvetica;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.caddie {
  position: relative;
  float: left;
  z-index: 10;
  width: 8.4993489583%;
  height: 73px;
  margin: 47px 0 0 33.9974%;
  background: url('../images/caddie_transparent.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.catalogue .catalogue {
  width: 58.3844750373%;
  min-height: 31px;
  margin: 11px auto 0;
  font-family: Montserrat;
  font-size: 1.25em;
  color: rgb(255, 255, 255);
}

.connexion {
  float: left;
}

.connexion .connexion {
  width: 78.6017949929%;
  min-height: 16px;
  margin: 7px 0 0 8.10288%;
  font-family: Montserrat;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.contact {
  float: left;
  clear: both;
  width: 100%;
  height: 154px;
  background-color: rgb(66, 204, 71);
}

.container {
  float: left;
  width: 100%;
  height: 309px;
  background-image: url('../images/image_accroche.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.course {
  width: 48.3870967741%;
  min-height: 38px;
  margin: 29px auto 0;
  font-size: 1.25em;
  color: rgb(255, 255, 255);
}

.cout {
  position: relative;
  float: left;
  z-index: 26;
  width: 6.8%;
  min-height: 30px;
  margin: -59px 0 0 71.19922%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.difficulte {
  position: relative;
  float: left;
  clear: both;
  z-index: 23;
  width: 6.8333333333%;
  min-height: 30px;
  margin: -59px 0 0 44%;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.discord {
  float: right;
  clear: both;
  width: 8.8328075709%;
  height: 28px;
  margin-top: -28px;
  background: url('../images/discord.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.facebook {
  float: left;
  width: 8.8328075709%;
  height: 28px;
  margin: 11px 0 0 0.15773%;
  background: url('../images/facebook.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.hasard .hasard {
  width: 61.0383148117%;
  margin: 11px auto 0;
  font: 1.25em/0.2 Montserrat;
  color: rgb(255, 255, 255);
}

.ingredients {
  position: relative;
  float: left;
  z-index: 32;
  width: 89.7006962654%;
  height: 424px;
  margin: 19px 0 0 4.90742%;
}

.inscription {
  float: left;
}

.inscription .inscription {
  width: 55.021256495%;
  min-height: 15px;
  margin: 7px 0 0 8.10547%;
  font-family: Montserrat;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.liste {
  position: relative;
  float: left;
  z-index: 29;
  width: 89.7006962654%;
  height: 326px;
  margin: -328px 0 0 4.91198%;
  border: 3px dashed rgb(128, 193, 127);
}

.menu {
  float: left;
  width: 66.0416666666%;
  height: 56px;
  margin: 10px 0 0 16.97526%;
  border-radius: 34px;
  background-color: rgba(52, 203, 58, 0.9);
}

.necessaire {
  position: relative;
  float: left;
  clear: both;
  z-index: 33;
  width: 28.7994791666%;
  height: 860px;
  border-right: 3px solid rgb(128, 128, 128);
}

.nom {
  position: relative;
  float: left;
  z-index: 25;
  width: 46%;
  min-height: 63px;
  margin: 39px 0 0 15.19922%;
  font-size: 1.875em;
  color: rgb(255, 255, 255);
}

.nom_ingredients {
  position: relative;
  float: left;
  clear: both;
  z-index: 31;
  width: 89.7006962654%;
  height: 96px;
  margin: -424px 0 0 4.91198%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: rgb(128, 193, 127);
}

.photo {
  float: left;
  width: 18.7994791666%;
  height: 192px;
  margin: 27px 0 0 10%;
  background: url('../images/Tiramisu.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.presentation {
  float: left;
  width: 100%;
  height: 252px;
  background-color: rgba(61, 173, 60, 0.61);
}

.profil .profil {
  width: 63.6363636363%;
  min-height: 26px;
  margin: 11px auto 0;
  font-family: Montserrat;
  font-size: 1.25em;
  color: rgb(255, 255, 255);
}

.accueil .accueil:hover,
.catalogue .catalogue:hover,
.connexion .connexion:hover,
.hasard .hasard:hover,
.inscription .inscription:hover,
.profil .profil:hover {
  color: rgb(128, 128, 128);
}

.recette {
  position: relative;
  float: left;
  clear: both;
  z-index: 34;
  width: 100%;
  height: 1112px;
}

.recette .description {
  position: relative;
  float: left;
  z-index: 22;
  width: 71.2005208333%;
  height: 860px;
}

.reseau {
  float: left;
  width: 26.4166666666%;
  height: 39px;
  margin: 25px 0 0 36.79167%;
}

.text {
  float: left;
  width: 87.3972039473%;
  min-height: 287px;
  margin: 14px 0 0 5.25852%;
  font-size: 1em;
  color: rgb(128, 128, 128);
}

.titre {
  position: relative;
  float: left;
  z-index: 9;
  width: 23.2291666666%;
  min-height: 38px;
  margin: 26px 0 0 2.29297%;
  font-family: Montserrat;
  font-size: 2.5em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.twitter {
  float: right;
  width: 8.8328075709%;
  height: 28px;
  margin: 12px 44.19361% 0 0;
  background: url('../images/twitter.jpg') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
}

.accueil-1 {
  float: left;
  width: 22.2082018927%;
  height: 54px;
  margin: 1px 0 0 2.81349%;
  background-color: rgba(60, 187, 59, 0);
}

.catalogue-1 {
  float: left;
  width: 23.7736593059%;
  height: 54px;
  margin: 1px 0 0 1.21254%;
  background-color: rgba(60, 187, 59, 0);
}

.connexion-1 {
  position: relative;
  clear: both;
  z-index: 14;
  width: 9.4166666666%;
  height: 32px;
  margin: -66px 0 0 84.83203%;
  border-radius: 21px;
  background-color: rgb(67, 188, 67);
}

.description-2 {
  position: absolute;
  top: 590px;
  left: 35.5989583333%;
  z-index: 35;
  width: 54.3997395833%;
  min-height: 739px;
  font-size: 1em;
  color: rgb(128, 128, 128);
}

.hasard-1 {
  float: left;
  width: 23.7736593059%;
  height: 54px;
  margin: 1px 0 0 1.2085999999%;
  background-color: rgba(60, 187, 59, 0);
}

.inscription-1 {
  position: relative;
  z-index: 12;
  width: 9.3333333333%;
  height: 32px;
  margin: 26px 0 0 16.8125%;
  border-radius: 21px;
  background-color: rgb(57, 194, 52);
}

.profil-1 {
  float: right;
  width: 20.8201892744%;
  height: 54px;
  margin: 1px 2.61041% 0 0;
  background-color: rgba(60, 187, 59, 0);
}