@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,900');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    height: 100%;
    margin:0;
    padding:0;
}

body {
    height: 100%;
    width: 100%;
    margin:0;
    padding:0;
    display: grid;
    grid-gap: 40px;
    grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer";
    grid-template-columns: min-content;
    background: #c1bdba;
    font-family: 'Titillium Web', sans-serif;
}

header {
    grid-area: header;
}

footer {
    text-align: center;
    grid-area: footer;
}

.main {
    grid-area: main;
    padding: 10px;
}

header button, header button-block {
    font-size: 12px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}

a {
    text-decoration: none;
    color: #1ab188;
    transition: .5s ease;
}
a:hover {
    color: #179b77;
}

.form {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    max-height: 1000px;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    opacity:0.92;

    width: 700px;
    height: 480px;

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li a {
    /*color: white;
    font-family: "Segoe UI";*/
display: block;
text-decoration: none;
padding: 15px;
background: rgba(160, 179, 176, 0.25);
color: #a0b3b0;
font-size: 20px;
float: left;
width: 50%;
text-align: center;
cursor: pointer;
transition: .5s ease;
}
.tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
}
.tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

label .req {
    margin: 2px;
    color: #1ab188;
}

label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}
label.active .req {
    opacity: 0;
}

label.highlight {
    color: #ffffff;
}

/*input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid transparent;
    border-bottom: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}*/

input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.errorDisp {
    color: red;
}

.searchselect {
    display:block;
    margin: 5% auto;
    width: 70%  ;
    color: white;
}

.searchselect select{
    min-width: 90px;
    float: right;
}
/*
#validateResearch {
    width: auto;
    display: inline;
    background-color: #c1bdba;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 3px;
}
#recherche {
    margin: 0 auto;
    color:white;
    width: 70%;
}
#formspace{
    width:100%;
    background-color: #5FE6BD;
    line-height:normal;
}*/
