@import url('general.css');
@import url('post.css');

.post-content {
    margin-bottom: 5px;
}

.post-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.post-action {
    margin-right: 8px;
}

.action-link:hover {
    text-decoration: underline;
}

/* On aligne le dernier élément à droite, pour cela on le sélectionne, on dit qu'il peut grandir et on aligne son texte à droite. */
.post-action:last-child {
    flex-grow: 1;
    text-align: right;
}

.action-link {
    text-decoration: none;
}

#link-more-posts-wrapper {
    display: block;
    text-align: center;
    padding: 15px 15px 15px 15px;
}
