@import url("fonts.css");
@import url('menu.css');

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', serif;
}

body {
    background: #7f8c8d;
}

h1 {
    text-align: center;
    color: #e67e22;
    text-transform: uppercase;
    font-family: 'Ubuntu';
    font-weight: 200;
}

.section-title
{
    color: #c6d0d1;
    text-align: center;
    font-weight: lighter;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.column-wrapper {
    background-color: #34495e;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px 0px 0px;
}

.splitter {
    height: 3px;
    background-color: #c6d0d1;
}

.center {
    text-align: center;
}

.display-none {
    display: none;
}

.error {
    background-color: #e74c3c;
    color: #ffeacb;
}

.infobox {
    padding: 15px 5px 15px 5px;
    margin: 5px 0px 5px 0px;
}

.infobox:last-child {
    margin-bottom: 15px;
}