@import url('fonts.css');

:root {
    --red: #c0392b;
    --light-red: #e74c3c;
    --redish-white: #FFCCBC;
    --green: #8BC34A;
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', serif;
    color: var(--redish-white);
}

body {
    background-color: var(--red);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    font-size: 3em;
    text-align: center;
    letter-spacing: 8px;
    font-family: SomethingStrange, SansSerif;
}

.moto {
    font-family: 'Lobster', cursive;
    font-family: 'Skranji';
    font-weight: lighter;
    text-align: center;
    letter-spacing: 1px;
}

.infobox {
    width: 300px;
    margin: 15px auto 0px;
    padding: 15px 15px 15px 15px;
    border-radius: 5px;
}

.error {
    background-color: var(--redish-white);
    color: black;
}

.success {
    background-color: var(--green);
    color: black;
}

.center {
    text-align: center;
}