.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #ffeacb;
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.menu-item {
    color: black;
    font-size: 1.2em;
    flex-grow: 1;
    text-align: center;
    height: 100%;
    padding: 15px 5px 15px 5px;
}

.menu-item:before {
    content: " - ";
}

.menu-item:after {
    content: " - ";
}

.menu-item:hover {
    background-color: #e67e22;
    transition: 250ms;
    text-decoration: none;
}