@import url("general.css");

.smiley {
    text-align: center;
    font-size: 4em;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-family: Courier;
    letter-spacing: -15px;
    color: #c6d0d1;
}

.all-done-message {
    font-weight: normal;
    text-align: center;
    color: #c6d0d1;
    font-size: 2em;
}

.no-reports-message {
    font-weight: normal;
    text-align: center;
    color: #c6d0d1;
    padding-bottom: 15px;
}

.post-reports {
    background-color: #34495e;
}

.post-report-reports-wrapper, .post-report-reports-wrapper a {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #c6d0d1;
}

.moderation-actions-wrapper, .moderation-actions-wrapper a {
    color: #c6d0d1;
}

.post-report-report {
    padding-left: 50px;
}

.post-report-reporter {
    font-weight: bold;
}

.post-report-reporter:after {
    content: " : ";
}

.moderation-actions-wrapper {
    margin-left: 15px;
    padding-bottom: 10px;
}

.moderation-action {
    margin-right: 15px;
}

.report-resolved {
    background-color: #8BC34A;
}

.report-resolved *, .report-resolved a {
    color: black;
}

/* REPORTS UTILISATEUR */
.user-reports {
    background-color: #34495e;
}

.user-report-reports-wrapper, .user-report-reports-wrapper a {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #c6d0d1;
}

.user-report-report {
    padding-left: 50px;
}

.user-report-reporter {
    font-weight: bold;
}

.user-report-reporter:after {
    content: " : ";
}

.user-report-user-wrapper {
    margin-left: 25px;
}

.user-report-user-name {
    font-size: 1.5em;
    color: var(--bluegray);
}

.user-report-user-name a {
    color: var(--bluegray);
    margin-top: 10px;
}
