@import url('general.css');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
@import url('https://use.fontawesome.com/releases/v5.0.10/css/all.css');

* {
    font-family: 'Ubuntu', serif;
}

h1 {
    text-align: center;
    color: #e67e22;
    text-transform: uppercase;
    font-family: 'Ubuntu';
    font-weight: 200;
}

body {
    background: #7f8c8d;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.like-icon {
    color: Tomato;
}

.repost-icon {
    color: Green;
}

.post-reposted {
    color: Green;
}

.post-liked {
    color: Tomato;
}

.column-wrapper {
    background-color: #34495e;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 0px 0px 0px;
}

.post-in-feed {
    padding: 5px 15px 5px 15px;
    background-color: #ffeacb;
    transition: 250ms;
    border-bottom: 1px solid lightgray;
}

.post-in-feed:last-child {
    border-bottom: 0px;
}

.post-in-feed:hover {
    background-color: #e67e22;
    transition: 250ms;
}

.post-header-author {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

.post-header-author:hover {
    text-decoration: underline;
}

.post-header {
    margin-bottom: 5px;
}

.post-header-date {
    font-size: 0.8em;
}

.post-content {
    margin-bottom: 5px;
}

.post-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.post-action {
    margin-right: 8px;
}

.action-link:hover {
    text-decoration: underline;
}

/* On aligne le dernier élément à droite, pour cela on le sélectionne, on dit qu'il peut grandir et on aligne son texte à droite. */
.post-action:last-child {
    flex-grow: 1;
    text-align: right;
}

.action-link {
    text-decoration: none;
    color: black;
}

.mention {
    font-weight: 500;
}