@import url('general.css');

.like-icon {
    color: Tomato;
}

.repost-icon {
    color: Green;
}

.post-reposted {
    color: Green;
}

.post-liked {
    color: Tomato;
}

.post-in-feed {
    padding: 5px 15px 5px 15px;
    background-color: #ffeacb;
    transition: 250ms;
    border-bottom: 1px solid lightgray;
}

.post-in-feed:last-child {
    border-bottom: 0px;
}

.post-in-feed:hover, .post-in-feed:hover .post-in-feed {
    background-color: #e67e22;
    transition: 250ms;
}

.post-header-author {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

.post-header-author:hover {
    text-decoration: underline;
}

.post-header {
    margin-bottom: 5px;
}

.post-header-date {
    font-size: 0.8em;
}

.post-content {
    margin-bottom: 5px;
}

.post-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
}

.post-action {
    margin-right: 8px;
}

.action-link:hover {
    text-decoration: underline;
}

/* On aligne le dernier élément à droite, pour cela on le sélectionne, on dit qu'il peut grandir et on aligne son texte à droite. */
.post-action:last-child {
    flex-grow: 1;
    text-align: right;
}

.action-link {
    text-decoration: none;
    color: black;
}

.mention {
    font-weight: 500;
}

.action-like-on {
    color: tomato;
}

.action-dislike-on {
    color: tomato;
}

.action-repost-on {
    color: #34495e;
}

.action-reported {
    color: tomato;
}


.report-form-wrapper {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.report-form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap ;
}

.report-field {
    flex-grow: 1;
    margin-right: 5px;
    margin-left: 0px;
    font-size: 1em;
    background: #95a5a6;
    line-height: 2em;
    box-shadow: 2px 2px 0px #e74c3c;
    width: 100%;
    padding: 2px 8px 2px 8px;
    border: 0px;
    outline: none;
    transition: 250ms;
}

.report-field:focus {
    background: #c6d0d1;
    transition: 250ms;
}

.report-submit {
    margin-right: 5px;
    padding: 5px 5px 5px 5px;
    font-size: 1em;

    background: #95a5a6;
    line-height: 2em;
    box-shadow: 2px 2px 0px #e74c3c;
    padding: 2px 5px 2px 5px;
    border: 0px;
    transition: 250ms;
}

.report-submit:hover {
    background-color: #e67e22;
    transition: 250ms;
}

.post-interactions {
    display: flex;
    flex-wrap: nowrap;
}

.post-interaction {
    padding: 5px 15px 5px 15px;
    background-color: var(--lightyellow);
}

.post-interactions-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.post-interactions-details-item {
    padding: 5px 15px 5px 15px;
    font-size: 1em;
    background-color: #ffeacb;
    border-bottom: 1px solid lightgray;
}

.post-interactions-details-item:hover {
    background-color: #e67e22;
    transition: 250ms;
}

.interaction-type-selected {
    background-color: var(--carott);
}