@import url("general.css");
@import url("post.css");

.moderator-tick {
    font-size: 0.75em;
}

.user-follow-link {
    color: var(--bluegray);
}

.user-follow-link:after {
    content: "-";
}

.user-follow-link:last-child:after {
    content: "";
}

#link-more-posts-wrapper, #link-posts-waiting-wrapper {
    display:block;
    text-align: center;
    padding: 15px 15px 15px 15px
}