@import url("general.css");

.pageTitle {
    text-align: center;
}

#form-signup {
    background-color: var(--light-red);
    margin-top: 10px;
}

input:focus {
    background-color: var(--light-red);
}

.field:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.field {
    display: block;
    text-align: left;
    padding: 10px 15px 10px 15px;
    background-color: var(--redish-white);
    margin: 0px;
    width: 100%;
    border: 0px;
    font-size: 1em;
}

.button {
    border: 0px;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1em;
    background-color: var(--redish-white);
    min-width: 100%;
    padding: 10px 15px 10px 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.125);
}

.button:hover {
    border: 0px;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 1em;
    background-color: var(--light-red);
    min-width: 100%;
    padding: 10px 15px 10px 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.125);
}

.form-wrapper {
    border: 0px;
    border-radius: 10px;
    height: auto;
    width: 300px;
    padding: 0em;
    margin: 1em auto 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.125);
}
    
