body {font-family: Arial, Helvetica, sans-serif;
      margin: auto;
}
input[type=text], input[type=password] {
    margin: auto;
    width: 33%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

button {
    background-color: #1E90FF;
    color: white;
	padding: 14px 20px;
    margin: 8px 0;
	border: none;
    cursor: pointer;
    width: 33%;
}

button:hover {
    opacity: 0.5;
}