
body { font-family: Arial, Helvetica, sans-serif; }
form#event {
  background: #9cbc2c;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
}

form#event text {
  background: #1f3954;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 200px;
}
form#event label{

    border-radius: 3px;
    padding: 5 px;
    
}
form#event file{
    width:85px;
    height:85px;
    background:#fafafa;
    box-shadow:2px 2px 8px #aaa;
    font:bold 13px Arial;
    border-radius:50%;
    color:#555;
}

form#event submit{
    width:85px;
    height:85px;
    background:#fafafa;
    box-shadow:2px 2px 8px #aaa;
    font:bold 13px Arial;
    border-radius:50%;
    color:#555;
    
}

form#retour_accueil {
    width:85px;
    height:85px;
    background:#fafafa;
    box-shadow:2px 2px 8px #aaa;
    font:bold 13px Arial;
    border-radius:50%;
    color:#555;
}