*{
    margin:0;
    padding:0;
}
/**
 * bootstrap à regarder
 */
html,body{
    height: 100%;
    width: 100%;
    position: relative;

}

body{
    min-width: 100%;
    min-height: 100%;
    position : relative;
    display: table;
    background-image: url("images/fond.jpg");
}

div#header{
    height: 5em;
    background-image: url("images/vignes.jpg");
    text-align: center;
    vertical-align: bottom;
    border-bottom: outset;
}

div#header>h1{
    color: red;
    text-shadow: blue 1px 1px, blue -1px 1px, blue -1px -1px, blue 1px -1px;;
    font-size: 3em;
}

div#main{
    padding: 1em;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
}

div#article{
    background-color: blanchedalmond;
    min-height: 100vh;
    padding: 0.5em;
    border-radius: 10px;
}

div#footer{
    height: 15px;
    width: 100%;
    background-color: lightgray;
    text-align: end;
    font-size: 10px;
    position: absolute;
    display: table-row;
    bottom: 0;
}

div#nav{
    width : 15%;
    float: left;
    background-color: deepskyblue;
    border-right: outset;
    border-bottom: outset;
    text-align: center;
}

div#menu{
    margin : 0.5em;
    padding : 0.5em;
    background-color: white;
    border-radius: 10px;
}

div#menu>h3{
    background-color: lightblue;
}

div#menu>p{
    text-align: left;
    line-height: 2em;
    font-size: 0.8em;
}

div#nav>button{
    margin : 0.8em;
}

div#article_connection{
    text-align: center;
    background-color: blanchedalmond;
    min-height: 100vh;
    padding: 2em;
    border-radius: 10px;
}

div#article_connection>h1{
    font-size: 50px;
}

div#article_connection>form>p{
    margin-top: 10%;
    line-height: 3em;
}

div#article_connection>p{
    margin-top: 10%;
    line-height: 3em;
}

div#article{
    padding-left: 2em;
}

div#article>p{
    margin-top: 3em;
}

div#article>img{
    display: block;
    margin: auto;
}

div#table{
    border: 1px solid black;
}

div#table>th{
    border: 1px solid black;
}
div#table>td{
    border: 1px solid black;
}
