header{
	background-image:url("Image/Pintutu2.jpg");
	color:white;
	text-align:center;
	background-size: 100%;
	height:30%
	}

body{
	text-align:center;
	background-image:url("Image/fondWeb.jpg");
	background-size: 100%;
}