html {
    height:100%;
}

body {
    height:100%;
    background-color: white;
    maring :0;
    padding:0;
    position:relative;
    cursor :url("img/paw.png"), pointer;
}

#bandeau{
    text-align :center;
    color : White ;
    font-size: 105px;
    background-image:url("img/BandeauChats.png");
    background-repeat:repeat-x;
    background-color : DeepPink;
}

#menu{
    background-color:Orchid;
    padding: 10px 0px;
}

#menu a {
    color : Navy;
    float :center left;
    padding: 10px 16px;
    text-align:center;
    text-decoration : none;
    
}
#menu a:hover{
    color : red;
    background-color: DeepSkyBlue;
}

body div#bande_g{
    float : left;
    width : 150px;
    padding: 100% 0;
    background-image : url("img/Chats_verticaux.png");
    background-repeat : repeat-y;
    background-color : pink;
}

body div#bande_d{
    float :right;
    width : 150px;
    padding: 100% 0;
    background-image : url("img/Chats_verticaux.png");
    background-repeat : repeat-y;
    background-color : pink;
}

#footer {
    color :red;
    bottom:0;
    text-align:center;
}
#contenu {
    border-style :solid;
    border-color:fuchsia;
    border-width :10px;
    margin : auto;
    margin-top:30px;
    width : 66%;
    background-color: White;
    padding : 5px 50px;
    padding-bottom: 60px;
    border-radius :50px;
    
}

#contenu h1{
    text-align: center;
    font-size : 50px;
    
}
#contenu a:hover{
    color : red;
}


tr > th:first-child {
    text-align: right;
}
tr > td:first-child {
    text-align: right;
}
tr > td:last-child {
    text-align : left;
}
td input {
    width : 250px;
    height : 25px;
}
