/* Stylesheet du site */

/* Style des headers des pages autres que la page d'accueil (pour ne pas gêner la vidéo) */

header{
    font-size: 40px;
    color : black; 
    background-color : lightgrey ; 
    font-family: Parisien;
    text-align: center;
    border-radius: 30px;
}

h1{
    font-size: 40px;
    color : black; 
    background-color : darkgrey ; 
    font-family: Parisien;
    text-align: center;
    border-radius: 30px;
}

h2{
    font-size: 40px;
    text-shadow : 4px 4px black;
    color : white; 
    font-family: Parisien;
    text-align: center;
}




/* Style du header, de h1 et du body de la page d'accueil */

header#acc, h1#acc{   
    font-size: 40px;
    color : black;
    background-color: transparent;   /* pour ne pas gêner la vidéo en background */
    font-family: Parisien;
    text-align: center;
    border-radius: 30px;
}


/* utilisé pour obtenir des bandes noires sur les côtés de la page d'accueil, comme la vidéo ne pouvait pas s'étirer */

body#acc{
    background-image: none;
    background-color:black;
}






/* Création de la police spéciale du site (téléchargée sur Dafont) */

@font-face{    
    font-family: "Parisien";
    src: url("Parisien Night.otf") format('truetype');   
}




/*
div#page{
    position:absolute;
}
*/



/* Page d'accueil */

video#bgvideo{
    position: absolute;
    top:0;
    width: 100%; 
    height: 100%;
    z-index: -100;   /* pour la mettre en arrière plan de tout le reste des éléments */
    /*background-size: cover;*/   /* fonctionne pour les images mais pas pour les vidéos, elle ne s'étire pas */
}

.mage{
    border-radius: 38px;
    background-color: lightgrey;
    position:absolute;
    margin-left : 60%;
    top:40%;
    max-width: 100%;  /* largeur max */
    height: 280px;  /* hauteur */
    width: 280px;
    border: 5px solid #8a4419;  /* bordure avec ombre */
    border-style: inset; 
}


.chevalier{
    border-radius: 38px;
    background-color: lightgrey;
    position: absolute;
    margin-left:25%;
    top:40%;
    max-width: 100%;  /* largeur max */
    height: 280px;  /* hauteur */
    width: 280px;
    border: 5px solid #8a4419;  /* bordure avec ombre */
    border-style: inset; 
}




/* Background des pages autres que la page d'accueil */

body{
    color : white ;
    background-color: black;
    background-image: url("background3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



/* Boutons généraux */

button{
    background-color: #555555;
    border-radius: 15px;
    border: 2px solid darkyellow;
    text-align: center;
    font-size: 18px;
    padding: 4px 30px;
    color: white;
}

button:hover{
    background-color: #e7e7e7;
    border-radius: 15px;
    border: 2px solid darkyellow;
    text-align: center;
    font-size: 18px;
    padding: 4px 30px;
    color: black;
}


.onglets{
    background-color: #555555;
    border-radius: 15px;
    border: 50px solid darkyellow;
    text-align: center;
    font-size: 18px;
    padding: 4px 30px;
    color: white;   
}

.onglets:hover{
    background-color: #e7e7e7;
    border-radius: 15px;
    border: 2px solid darkyellow;
    text-align: center;
    font-size: 18px;
    padding: 4px 30px;
    color: black; 
}



ul{
    text-align: center;
}

li{
    font-size: 30px;
    text-shadow : 4px 4px black;
    color : white; 
    font-family: Times New Roman;
    text-align: center;
}

p {
    font-size: 30px;
    text-shadow : 4px 4px black;
    color : white; 
    font-family: Times New Roman;
    text-align: center;
}



/* Page des quêtes */

.quete1,.quete2,.quete3,.quete4,.quete5{
    position:absolute;
    margin-left: 47%;
    background-color: #555555;
    border-radius: 15px;
    border: 2px solid darkyellow;
    text-align: center;
    font-size: 18px;
    padding: 4px 30px;
    color: white;
}



/* Page du personnage */

.personnage{
    overflow: hidden;  /* empeche le dépassement */
}


.personnage .imggauche {
    float: left;
}


.cadreperso{
    border: 3px solid white;
    position: absolute;right: 200px;  /* position de l'image */
    width: 900px;
}


/* Page de l'animal */


img .pet{
    border-radius: 38px;
    background-color: lightgrey;
    position: absolute;
    margin-left:40%;
    top:40%;
    max-width: 100%;  /* largeur max */
    height: 280px;  /* hauteur */
    width: 280px;
    border: 5px solid #8a4419;  /* bordure avec ombre */
    border-style: inset; 
}
