#menu_bouton
{
	display: flex;
	justify-content:flex-start;
}

#boutons_connexion{
	display: flex;
	flex-direction:column;
	align-items:flex-end;
}

.sous_menu{
	display:flex;
	justify_content:flex-start;
}