/* Fond d'écran */
body {background-color : #00FFFF ; }

/* En-têtes */
h1 {color : #FF0000 ; text-align : center ;  }
h2, h4 {color : #FF1493 ; }

/* Paragraphes */
p {color : #8A2BE2 ; }

/* Autres */
ol, form {color : #8A2BE2 ; }



body, h1, h2, h4, p, ol, form {font-family : Courier ; }





