/**
 *      Contient le css de la barre de navigation (à droite vertical)
 */
.aside {
	display: block;
	width: 14rem;
	height: calc(100% - 4rem);
	position: fixed;
	z-index: 1;
	top: 4rem;
	right: 0;
	background-color: #1B1C23F7;
	box-shadow: -0.5vh 1vh 0.5vh 0.5vh rgba(0, 0, 0, 0.5);
	transition: 0.25s;
	overflow-x: hidden;
	text-align: center;
}

.aside-discord {
	width: 12rem;
	height: 20rem;
}

.aside-login-form {
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	text-align: center;
}

.aside .prompt {
	margin-top: 0.5rem;
}

.aside-captcha {
	margin-top: 1rem;
	transform: scale(0.62);
	transform-origin: 0 2.0rem;
	-webkit-transform: scale(0.62);
	-webkit-transform-origin: 0 2.0rem;
}

.aside-labels {
	
}

.aside .button {
	margin-bottom: 1.0rem;
}
