/**
 *      Contient le css du corps de la page
 */
.page {
	display: block;
	margin-top: 6rem;
	margin-left: 14rem;
	margin-right: 16rem;
}

.page-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.page-content {
	display: block;
	margin: auto;
	z-index: 1;
	background-color: #1B1C23F0;
}

.page-content-title {
	text-align: center;
	font-size: 2rem;
	color: #FAFAFA;
}

.twitch-container {
	position: relative;
	width: 100%;
	padding-bottom: 46%;
	background-color: #7ad;
}

.twitch-embed {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #7da;
}